<%- include('../partials/header'); -%>
<%- include('../partials/navbar'); -%>

<div class="container mt-5 mb-5">
    <div class="row">
            <div class="col-lg-6">
                <div class="card p-5" style="">
                    <h1 class="card-title text-center"><%=blog.title%></h1>
                    <img src="<%=blog.img%>" class="card-img-top mt-3 mb-3" alt="...">
                    <div class="card-body">
                        
                        <p class="card-text"><%=blog.desc%></p>
                        <a href="/blogs/<%=blog._id%>/edit/" class="btn btn-sm btn-warning">Edit</a>
                        <form method="POST" action="/blogs/<%=blog._id%>?_method=DELETE" class="d-inline" >                            
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </div>                
            </div>

            <div class="col-lg-6">
                <div class="card p-5" style="">
                    <h3 class="card-title text-center">Add Comments</h3>
                    <form method="POST" action="/blogs/<%=blog._id%>/reviews" class="g-3 needs-validation" novalidate>
                    <div class="mb-3 mt-5">
                        <input type="range" class="form-range" name="rating" value="3" min="1" max="5" step="1" id="ratings">
                    </div>
                    <div class="mb-3">
                        <label for="comment" class="form-label">Comment:</label>
                        <input type="text" class="form-control" name="comment" id="comment" required>
                    </div>
                    <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
                </div>  
                <div>
                    <%count=1%>
                    <%for(let x of blog.review){%>
                    <div class="card mt-5">                    
                    <h6 class="card-header">User: <%=count++%></h6>
                    <div class="card-body">
                        <h6 class="card-text">Rating: <%=x.rating%></h6>
                        <p class="card-text"><strong>Comment: </strong><%=x.comment%></p>
                    </div>
                    </div>
                    <%}%>
                </div>              
            </div>
    </div>
    
</div>
    
<%- include('../partials/footer'); -%>